.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// Toolbar
.layout-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

// Sidenav container
.layout-sidenav-container {
  height: 100%;
}

// Sidenav
.layout-sidenav {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
  border-radius: 0px;


  .mat-nav-list {
    padding-top: 8px;
  }

  a.mat-mdc-list-item {
    border-radius: 0px;

    &.active-link {
      background-color: var(--mat-sys-secondary-container);

      .mat-icon,
      span {
        color: var(--mat-sys-on-secondary-container);
      }
    }
  }
}

.spacer {
  flex: 1 1 auto;
}
