.full-width {
  width: 100%;
}

.projection-table {
  margin: 16px;

  .cell-content {
    cursor: pointer;
  }

  .empty-cell {
    color: #999;
  }

  .paid {
    color:  #2e7d32;
    font-weight: 600;
  }

  .negative {
    color: #c62828;
  }

  .fixed-bill {
    background-color: var(-mat-sys-secondary-container);
    color: var(-mat-sys-on-secondary-container);
  }

  // 🔹 Coluna Mês
  .mat-column-mes {
    background-color: var(--mat-sys-primary-container); // cinza claro
    color: black;
  }


  // 🔹 Coluna Débitos (despesas)
  .mat-column-debitos {
    background-color: #c62828; // vermelho forte
    color: #fff !important;   // texto branco
  }

  // 🔹 Coluna Receita
  .mat-column-receita- {
    background-color: #c8e6c9; // verde claro

    b {
      color: #2e7d32 !important;
    }
  }

  // 🔹 Coluna Saldo
  .mat-column-saldo {
    background-color: #e0f0ff;
    font-weight: 600;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-right: 1px solid #ddd;
  }
}
